POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password
CLIENT_SECRET=your_keycloak_client_secret

MINIO_ADMIN=admin
MINIO_ADMIN_PASSWORD=your_minio_admin_password

STRIPE_sk=your_stripe_secret_key
STRIPE_pk=your_stripe_public_key

WHSEC=your_stripe_webhook_secret

SECRET_KEY=your_secret_key

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

KEY_STORE_PASS=your_keystore_password
